.svg-deals-1 {
	background: url("svg/sprite.view-66899a61.svg") 54.791666666666664% 0 no-repeat;
}

.svg-deals-1-dims {
	width: 111px;
	height: 120px;
}

.svg-deals-10 {
	background: url("svg/sprite.view-66899a61.svg") 0 30.091185410334347% no-repeat;
}

.svg-deals-10-dims {
	width: 124px;
	height: 106px;
}

.svg-deals-2 {
	background: url("svg/sprite.view-66899a61.svg") 100% 0 no-repeat;
}

.svg-deals-2-dims {
	width: 107px;
	height: 108px;
}

.svg-deals-3 {
	background: url("svg/sprite.view-66899a61.svg") 29.764453961456102% 0 no-repeat;
}

.svg-deals-3-dims {
	width: 124px;
	height: 112px;
}

.svg-deals-4 {
	background: url("svg/sprite.view-66899a61.svg") 0 0 no-repeat;
}

.svg-deals-4-dims {
	width: 139px;
	height: 99px;
}

.svg-deals-5 {
	background: url("svg/sprite.view-66899a61.svg") 77.75467775467776% 0 no-repeat;
}

.svg-deals-5-dims {
	width: 110px;
	height: 116px;
}

.svg-deals-6 {
	background: url("svg/sprite.view-66899a61.svg") 22.9957805907173% 63.862928348909655% no-repeat;
}

.svg-deals-6-dims {
	width: 117px;
	height: 114px;
}

.svg-deals-7 {
	background: url("svg/sprite.view-66899a61.svg") 47.28033472803347% 60.294117647058826% no-repeat;
}

.svg-deals-7-dims {
	width: 113px;
	height: 95px;
}

.svg-deals-8 {
	background: url("svg/sprite.view-66899a61.svg") 44.17670682730924% 99.38461538461539% no-repeat;
}

.svg-deals-8-dims {
	width: 93px;
	height: 110px;
}

.svg-deals-9 {
	background: url("svg/sprite.view-66899a61.svg") 0 64.66876971608833% no-repeat;
}

.svg-deals-9-dims {
	width: 109px;
	height: 118px;
}

.svg-professionals-1 {
	background: url("svg/sprite.view-66899a61.svg") 0 100% no-repeat;
}

.svg-professionals-1-dims {
	width: 112px;
	height: 112px;
}

.svg-professionals-2 {
	background: url("svg/sprite.view-66899a61.svg") 64.93775933609959% 99.079754601227% no-repeat;
}

.svg-professionals-2-dims {
	width: 109px;
	height: 109px;
}

.svg-professionals-3 {
	background: url("svg/sprite.view-66899a61.svg") 23.18840579710145% 100% no-repeat;
}

.svg-professionals-3-dims {
	width: 108px;
	height: 112px;
}

.svg-professionals-4 {
	background: url("svg/sprite.view-66899a61.svg") 75.55555555555556% 36.024844720496894% no-repeat;
}

.svg-professionals-4-dims {
	width: 96px;
	height: 113px;
}

.svg-work-1 {
	background: url("svg/sprite.view-66899a61.svg") 95.2755905511811% 31.123919308357348% no-repeat;
}

.svg-work-1-dims {
	width: 83px;
	height: 88px;
}

.svg-work-2 {
	background: url("svg/sprite.view-66899a61.svg") 92.89827255278311% 80.05698005698005% no-repeat;
}

.svg-work-2-dims {
	width: 70px;
	height: 84px;
}

.svg-work-3 {
	background: url("svg/sprite.view-66899a61.svg") 71.92307692307692% 65.05681818181819% no-repeat;
}

.svg-work-3-dims {
	width: 71px;
	height: 83px;
}

.svg-work-4 {
	background: url("svg/sprite.view-66899a61.svg") 94.71624266144813% 56% no-repeat;
}

.svg-work-4-dims {
	width: 80px;
	height: 85px;
}

