doctype
html(lang="ru")
  head
  
    meta(charset="utf-8")
    title= "Главная страница"
    
    include templates/head/meta/meta.html 
    
  body
  
    include templates/header/header.pug
         
    
    
    footer
        include templates/footer/footer.html
    
    include templates/js-connection/jquery-connection.html
    
    include templates/js-connection/js-connection.html 